:root {
	--bg-dark: #0A0A0A;
	--bg-light: whitesmoke;
	--min-content-width: 35em;
	--home-border: #222;
}
html {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Noto Sans", Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
	font-size: 120%;
	background: black;
	color: #DDD;
}
html.dark a {
	color: aqua;
}
html.light {
	background: white;
	color: #222;
}
body {
	margin: 0;
}
div.noscript {
	padding: 0.15em;
	border-radius: 15px;
	background: #F00;
}
div.dl {
	margin: 0.3em 0em;
}
div.repo {
	width: 100%;
	position: relative;
	margin-top: 1em;
}
p.noscript {
	text-align:center;
	margin: 5px;
	color: #003;
}
.bg-overlay {
	z-index: -1;
	display: block;
	position: fixed;
	height: 100%;
	left: 0;
	right: 0;
}
.menu {
	background: #8882;
	width: 100%
}
td.category {
	cursor: pointer;
	vertical-align: middle;
	border: 0;
	font-weight: bold;
	padding: 0em 0.5em;
}
td.category:hover {
	background-color: #8882
}
td.category.selected {
	background-color: #8883
}
.content {
	padding-bottom: 1.5em;
}
.content, .bg-overlay {
	width: max(var(--min-content-width), 50%);
	min-width: min(var(--min-content-width), 100%);
	max-width: 100%;
	margin: auto;
	background-color: var(--bg-dark);
}
.content.light, .bg-overlay.light {
	background-color: var(--bg-light);
}
.header {
	background: #111;
}
.header.light {
	background: #EEE;
}
#home {
	width: 4em;
	aspect-ratio: 1;
	border: 0.12em solid var(--home-border);
	border-radius: 1.2em;
	padding: 0.3em;
	margin: 0.75em;
	background-color: #141414;
}
.header-title {
	display: flex;
	position: absolute;
	top: 0.35em;
	left: 50%;
	transform: translate(-50%);
}
.a-button {
	text-decoration: none;
}
.theme {
	float: right;
	width: 2em;
	height: 2em;
	margin: 0.75em;
}
#glow {
  text-align: center;
  color: #eed490;
  text-shadow: 0 0 0.5em #eed49066, 0 0 1em goldenrod;
}
#glow.light {
  color: #262626;
  text-shadow: 0 0 0.5em #26262666, 0 0 1em gray;
}
.page-content {
	margin: 0 0.75em;
}
.project {
	border-radius: 15px;
	background-color: #141414;
	padding: 0.5em;
	margin-top: 0.75em;
}
.project.light {
	background-color: #EBEBEB;
}
#app-icon {
	width: 3em;
	height: 3em;
	margin-right: 1em;
}
#app-info {
	margin: 5px;
}
#slideshow {
	display: block;
	margin: 1em 0em;
	border-radius: 1em;
	position: relative;
	height: 24em;
	background: dimgray;
	padding: 1em 0em;
}
#slideshow.light {
	background: lightgray;
}
.invis {
	display: none;
}
#img {
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	max-width: 100%;
	max-height: 22em;
	transform: translate(-50%, -50%);
}
.prev,
.next {
	cursor: pointer;
	position: absolute;
	top: 50%;
	width: auto;
	padding: 16px;
	color: white !important;
	font-weight: bold;
	font-size: 18px;
	transition: 0.3s ease;
	transform: translate(0, -50%);
	user-select: none;
	z-index: 1;
}
.prev {
	border-radius: 0 3px 3px 0;
	left: 0;
}
.next {
	right: 0;
	border-radius: 3px 0 0 3px;
}
.prev:hover, .next:hover {
	background: #000C;
}
#numbertext {
	color: whitesmoke;
	font-size: 14px;
	padding: 8px 12px;
	position: absolute;
	top: 0;
}
#numbertext.light {
	color: #0A0A0A;
}
#app-repo-icon {
	width: 32px;
	height: 32px;
	float: right;
}
#app-repo-icon.light {
	filter: invert(100%);
}
.h-sep {
	border-top: 1px solid gray;
}
.spoiler {
	display: inline-block;
	margin: 0 0.2em;
}
@media (pointer: coarse) {
	h1 {
		font-size: 150%;
	}
	#home {
		width: 2em;
		border-radius: 0.6em;
	}
	.header-title {
		top: 0.2em;
	}
}
code {
    border-radius: 5px;
    background-color: #404040;
    padding: 0.2em;
}
code.light {
	background-color: #B0B0B0;
}
div.code {
	border-radius: 5px;
	background-color: #303030;
	font-family: monospace;
	padding: 0.5em;
}
div.code.light {
	background-color: #C0C0C0;
}
.table, .table th, .table td {
	border: 1px solid #777;
	border-collapse: collapse;
	padding: 0.4em 0.8em;
}
syn-kw {
	color: #c04e00;
}
syn-type {
	color: #b5ffff;
}
syn-type.light {
	color: #0080ca;
}
syn-var {
	color: #fcff7a;
}
syn-var.light {
	color: #6127b6;
}
syn-fun {
	color: #aaff65;
}
syn-fun.light {
	color: #4caa00;
}
syn-literal {
	color: #80ffbb;
}
syn-literal.light {
	color: #00784e;
}
syn-ann-id {
	color: #ff0044;
}
syn-ann-id.light {
	color: #bd0032;
}
syn-ann {
	color: Dimgrey;
	font-style: italic;
}
syn-ann.ligth {
	color: Darkgrey;
}
syn-comment {
	color: #924fff;
}
syn-comment.light {
	color: #6832c0;
}
p {
	margin-left: 1em;
}
h2 {
	margin: 0;
}
details {
	margin: 1.5em 0;
}
#include {
	margin: 0.25em 0;
}
tab:before {
	padding: 0 1ch;
	content: "";
}
term-user:before {
	color: #606060;
	content: "$  ";
}
term-user.light {
	color: #A0A0A0;
}
term-root:before {
	color: #606060;
	content: "#";
}
term-root.light {
	color: #A0A0A0;
}
